*{
    box-sizing: border-box;
    margin: 0px;
}

/* HEADER  */
body > header{

    /* Positioning */
    position: relative;

    /* Pattern */
    background-color: #4da1ff;
    background-image: url(../img/pattern.png);
    background-size: 60%;   /* Is it correct? */
    background-repeat: repeat;

    /* Size  */
    height: 10vh;
}
#logoImage{

    /* Positioning */
    position: absolute;
    bottom: 10px;
    left: 10px;

    /* Size  */
    height: 50%;
}
#credits{
    color: gray;
}

/* MAIN  */
main{
    margin: 10px;
}

#topImages img{
    height: 20vh;
}

article > *{
    margin-top: 1.2em;
}

/* FOOTER  */
footer{
    margin-top: 2em;
}
footer > span{
    color: gray;
    font-size: 0.9em;
}

.relatedArticle{
    position: relative;
}
.relatedArticle span{

    /* Positioning  */
    position: absolute;
    left: 10px;
    top: 10px;

    /* Font  */
    font-size: 600;
    color: white;

}
.relatedArticle img{
    width: 22%;
}